.header__lang{
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 320px){
    .header__lang{
        align-items: center;
        margin-top: 14px;
        max-height: 22px;
    }
}